---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Noticias from "../../../components/Noticias.astro";
import NoticiasCards from "../../../components/NoticiasCards.astro";
import { useTranslations } from "../../../i18n/translations";

export async function getStaticPaths() {
  return [
    { params: { lang: "pt" } },
    { params: { lang: "en" } }
  ];
}

const { lang } = Astro.params;
const t = useTranslations(lang);

// Buscar todas as notícias da Content Collection
const noticias = (await getCollection("noticias")).filter(
  (noticia: CollectionEntry<"noticias">) => noticia.data.lang === lang
);
---

<Layout lang={lang} t={t}>
 

  <main class="max-w-7xl mx-auto p-8">
    <Noticias />

    <div class="flex flex-wrap gap-8 justify-center">
      {
        noticias.map((item) => (
          <NoticiasCards
            imagem={item.data.imagem}
            titulo={item.data.title}
            texto={item.data.resumo}
            link={`/${lang}/noticias/${item.data.slug ?? item.id}`}
            tags={item.data.tags}
            lang={lang}
          />
        ))
      }
    </div>
  </main>
</Layout>
