---
import Layout from "../../layouts/Layout.astro";
import HomeCarrossel from "../../components/HomeCarrossel.astro";
import Apresentar from "../../components/HomeApresentar.astro";
import Sobre from "../../components/HomeSobre.astro";
import HomeNoticias from "../../components/HomeNoticias.astro";
import HomePublicacao from "../../components/HomePublicacoes.astro";

import { useTranslations } from "../../i18n/translations";



// define quais idiomas o Astro deve gerar (ex: /pt, /en)
export async function getStaticPaths() {
  return [{ params: { lang: "pt" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;
const t = useTranslations(lang);
---

<Layout lang={lang} t={t}>
  <HomeCarrossel lang={lang} t={t} />
  <Apresentar lang={lang} t={t} />
  <Sobre lang={lang} t={t}/>
  <section class="py-12 bg-white">
    <div class="max-w-7xl mx-auto px-4 grid grid-cols-1 md:grid-cols-2 gap-8">
      <HomeNoticias lang={lang} t={t}/>
      <HomePublicacao lang={lang} t={t}/>
    </div>
  </section>
</Layout>
